/*vars start*/
/*vars end*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
BODY {
  font-family: 'Avenir Next Cyr';
  color: #3a3a3a;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
BODY .hide-links {
  display: none;
}
BODY .map-wrapper SVG G#overlay PATH {
  cursor: pointer;
}
H1,
.h1,
H2,
.h2,
H3,
.h3,
H4,
.h4,
H5,
.h5 {
  color: #101010;
  font-weight: bold;
}
H1,
.h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 1.8em;
}
H2,
.h2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 1.6em;
}
H3,
.h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 1.4em;
}
H4,
.h4 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 1.2em;
}
H5,
.h5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1em;
}
UL {
  list-style: none;
  margin-bottom: 1.2em;
  padding-left: 1em;
}
P {
  margin-bottom: 1.2em;
}
A {
  color: #4aca20;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
A:hover {
  color: #3a9e19;
}
IMG {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  max-width: 1440px;
  padding: 0 170px;
  margin: 0 auto;
}
.container._full {
  padding: 0;
}
.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inner._center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.inner._normal {
  -webkit-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
}
.inner._h-left {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.w20 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  max-width: 20%;
}
.w30 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  max-width: 30%;
}
.w40 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  max-width: 40%;
}
.w50 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 50%;
}
.w60 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 60%;
  flex: 1 0 60%;
  max-width: 60%;
}
.w70 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 70%;
  flex: 1 0 70%;
  max-width: 70%;
}
.w80 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 80%;
  flex: 1 0 80%;
  max-width: 80%;
}
.w100 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  max-width: 100%;
}
.background-grey {
  background-color: #eaeaea;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: auto;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  cursor: pointer !important;
  color: #4aca20;
  width: auto;
}
.mfp-image-holder .mfp-close:hover,
.mfp-iframe-holder .mfp-close:hover {
  color: #3a9e19;
}
HEADER {
  background-color: #000000;
  position: relative;
}
HEADER * {
  color: #f3f3f3;
}
HEADER A.logo-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
HEADER A.logo-link img {
  width: auto;
  height: 40px;
}
HEADER A.logo-link::before {
  content: "";
  display: block;
  width: 11px;
  height: 18px;
  background-image: url("../images/icons/left.svg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 7px;
}
HEADER .lang-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
HEADER .lang-items .lang-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: #3a3a3a;
  color: #f3f3f3;
  text-transform: uppercase;
}
HEADER .lang-items .lang-item._is-active {
  background-color: #4aca20;
  pointer-events: none;
}
HEADER .lang-items .lang-item:hover {
  background-color: #3a9e19;
}
HEADER .contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 45px;
}
HEADER .contact-items .contact-icon {
  margin-right: 8px;
}
HEADER .contact-items .contact-item {
  color: #f3f3f3;
  margin-right: 36px;
}
HEADER .contact-items .contact-item:last-child {
  margin-right: 0;
}
HEADER .contact-items .contact-item:hover {
  color: #f3f3f3;
}
HEADER .banner {
  padding: 110px 0;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
HEADER .banner .info-wrap .title {
  margin-bottom: 2em;
}
HEADER .banner .info-wrap UL {
  padding: 0;
  margin: 0 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
HEADER .banner .info-wrap UL LI {
  color: #f3f3f3;
  margin-bottom: 0;
  padding-right: 24px;
  margin-right: 24px;
  border-right: 3px solid #f3f3f3;
}
HEADER .banner .info-wrap UL LI:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}
HEADER .banner .info-wrap .official-link {
  font-weight: 400;
  text-decoration: underline;
  color: #f3f3f3;
}
HEADER .banner .banner-logos {
  padding: 56px 24px;
  background: #f3f3f3;
}
HEADER .banner .banner-logos IMG:first-child {
  margin-bottom: 28px;
}
HEADER #nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}
HEADER #nav .nav-items {
  margin: 0;
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
}
HEADER #nav .nav-items .nav-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
}
HEADER #nav .nav-items .nav-item .nav-link {
  display: block;
  padding: 1em 0;
  color: #3a3a3a;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
HEADER #nav .nav-items .nav-item .nav-link:hover {
  background-color: #4aca20;
  color: #f3f3f3;
}
MAIN {
  background-color: #f3f3f3;
  padding-bottom: 182px;
}
MAIN .section {
  padding-top: 72px;
}
MAIN .section .section-title {
  text-align: center;
  margin-bottom: 0;
}
MAIN .section .section-content {
  margin-top: 52px;
}
MAIN .section .sub-title {
  margin-bottom: 22px;
}
MAIN .section#about-us .about-card-text {
  padding: 48px;
}
MAIN .section#about-us .about-card-text P {
  margin-bottom: 2em;
}
MAIN .section#about-us .about-card-video {
  position: relative;
  min-height: 320px;
}
MAIN .section#about-us .about-card-video > IFRAME {
  border: 0;
  width: 100%;
  height: 100%;
}
MAIN .section#about-us .text-center {
  text-align: center;
  margin-top: 105px;
}
MAIN .section#about-us .text-center > P {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 28px;
}
MAIN .section#about-us .carousel-wrap {
  margin-top: 62px;
}
MAIN .section#about-us .carousel-wrap .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1.5em;
}
MAIN .section#about-us .carousel-wrap .owl-dots > .owl-dot {
  display: block;
  width: 14px;
  height: 14px;
  background-color: #D8D8D8;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  outline: none !important;
  border-radius: 50%;
  margin-right: 14px;
}
MAIN .section#about-us .carousel-wrap .owl-dots > .owl-dot:last-child {
  margin-right: 0;
}
MAIN .section#about-us .carousel-wrap .owl-dots > .owl-dot:hover {
  background-color: #3a9e19;
}
MAIN .section#about-us .carousel-wrap .owl-dots > .owl-dot.active {
  background-color: #4aca20;
}
MAIN .section#about-us .member-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #eaeaea;
  margin-top: 18px;
}
MAIN .section#about-us .member-list .member {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33.333333%;
  flex: 1 0 33.333333%;
  max-width: 33.333333%;
  padding: 22px 14px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
MAIN .section#about-us .member-list .member .photo {
  min-width: 125px;
  height: 220px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 14px;
}
MAIN .section#about-us .member-list .member .photo IMG {
  width: auto;
  max-width: unset;
  height: 100%;
  display: block;
}
MAIN .section#about-us .member-list .member .info * {
  margin: 0;
}
MAIN .section#about-us .member-list .member .info > DIV {
  margin-bottom: 4px;
}
MAIN .section#about-us .member-list .member .info A {
  color: #3a3a3a;
  font-weight: 400;
}
MAIN .section#about-us .member-list .member .info A:hover {
  color: #3a9e19;
}
MAIN .section#products .inner {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
MAIN .section#products .w40,
MAIN .section#products .w60 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  max-width: 100%;
}
MAIN .section#products .tab-items {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
MAIN .section#products .tab-items .tab-item > A {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 62px;
  padding: 0.5em 1em;
  background-color: #eaeaea;
  border: 2px solid #eaeaea;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
MAIN .section#products .tab-items .tab-item > A:hover {
  background-color: #fff;
  border-color: #fff;
}
MAIN .section#products .tab-items .tab-item > A:hover .tab-icon > IMG.no-active {
  display: none;
}
MAIN .section#products .tab-items .tab-item > A:hover .tab-icon > IMG.active {
  display: block;
}
MAIN .section#products .tab-items .tab-item > A:hover .tab-title {
  color: #4aca20;
}
MAIN .section#products .tab-items .tab-item > A .tab-title,
MAIN .section#products .tab-items .tab-item > A .tab-decscription {
  margin-left: 58px;
  display: none !important;
}
MAIN .section#products .tab-items .tab-item > A .tab-title {
  width: 100%;
  color: #101010;
  display: block !important;
  margin: 0 0 0 14px;
}
MAIN .section#products .tab-items .tab-item > A .tab-decscription {
  font-style: italic;
  font-weight: 100;
  color: #3a3a3a;
  display: block;
}
MAIN .section#products .tab-items .tab-item > A .tab-icon {
  display: block;
}
MAIN .section#products .tab-items .tab-item > A .tab-icon > IMG {
  width: 42px;
}
MAIN .section#products .tab-items .tab-item > A .tab-icon > IMG.no-active {
  display: block;
}
MAIN .section#products .tab-items .tab-item > A .tab-icon > IMG.active {
  display: none;
}
MAIN .section#products .tab-items .tab-item > A._is-active {
  background-color: #fff;
  border: 2px solid #4aca20;
  border-bottom: none;
  pointer-events: none;
}
MAIN .section#products .tab-items .tab-item > A._is-active .tab-icon > IMG.no-active {
  display: none;
}
MAIN .section#products .tab-items .tab-item > A._is-active .tab-icon > IMG.active {
  display: block;
}
MAIN .section#products .tab-items .tab-item > A._is-active .tab-title {
  color: #4aca20;
}
MAIN .section#products .tab-contents .tab-content {
  display: none;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.5);
}
MAIN .section#products .tab-contents .tab-content * {
  color: #fff;
}
MAIN .section#products .tab-contents .tab-content._is-active {
  display: block;
}
MAIN .section#products .tab-contents .tab-content P {
  font-size: 18px;
  line-height: 21px;
}
MAIN .section#products .tab-contents .tab-content .org-items {
  margin: 34px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
MAIN .section#products .tab-contents .tab-content .org-items .org-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33.3333333%;
  flex: 1 0 33.3333333%;
  max-width: 33.3333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  min-height: 82px;
  padding: 1em;
  border-left: 2px solid #fff;
  margin-bottom: 0.5em;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
MAIN .section#products .tab-contents .tab-content .org-items .org-item:first-child {
  border-left: none;
}
MAIN .section#products .tab-contents .tab-content .org-items .org-item:nth-child(4n) {
  border-left: none;
}
MAIN .section#products .tab-contents .tab-content .org-items .org-item IMG {
  display: block;
  margin-right: 1em;
  max-width: 44px;
}
MAIN .section#products .tab-contents .tab-content .org-items .org-item SPAN {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
MAIN .section#products .tab-contents .tab-content .org-items .org-item:hover {
  background-color: #fff;
}
MAIN .section#products .tab-contents .tab-content .org-items .org-item:hover SPAN {
  color: #101010;
}
MAIN .section#docs .docs-info H2 {
  margin-bottom: 18px;
}
MAIN .section#docs .docs-info P {
  font-weight: 100;
  font-size: 19px;
  line-height: 22px;
}
MAIN .section#docs .docs-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #eaeaea;
}
MAIN .section#docs .docs-cards .docs-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 50%;
}
MAIN .section#docs .docs-cards .docs-card > A {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 42px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
MAIN .section#docs .docs-cards .docs-card > A:hover {
  background-color: #4aca20;
  color: #f3f3f3;
}
MAIN .section#docs .docs-cards .docs-card > A:hover::before {
  background-image: url('../images/icons/docs_white.svg');
}
MAIN .section#docs .docs-cards .docs-card > A::before {
  content: "";
  display: block;
  width: 31px;
  height: 37px;
  margin-right: 30px;
  background-image: url(../images/icons/docs.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
MAIN .section#organization .member {
  text-align: center;
  background-color: #eaeaea;
  padding: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
MAIN .section#organization .member .member-photo {
  max-width: 225px;
  margin-bottom: 24px;
}
MAIN .section#organization .member .member-name {
  font-weight: 600;
  color: #101010;
  text-align: center;
  font-size: 24px;
  line-height: 19px;
  margin-bottom: 12px;
}
MAIN .section#organization .member .member-contacts UL {
  padding: 0;
  margin: 0;
}
MAIN .section#organization .member .member-contacts UL LI {
  margin-bottom: 0.5em;
}
MAIN .section#organization .member .member-contacts UL LI:last-child {
  margin-bottom: 0;
}
MAIN .section#organization .member .member-contacts UL LI A {
  color: #3a3a3a;
  font-weight: 400;
}
MAIN .section#organization .member .member-contacts UL LI A:hover {
  color: #3a9e19;
}
MAIN .section#organization .member._big {
  padding: 34px 32px;
}
MAIN .section#organization .member._big .member-photo {
  max-width: 251px;
}
MAIN .section#events .events-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
MAIN .section#events .events-list .event-wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  max-width: 25%;
  padding-left: 15px;
}
MAIN .section#events .events-list .event-wrap:first-child {
  padding-left: 0;
}
MAIN .section#events .events-list .event-wrap .event {
  background-color: #eaeaea;
  position: relative;
  height: 100%;
}
MAIN .section#events .events-list .event-wrap .event .image-wrap {
  width: 100%;
  height: 280px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
MAIN .section#events .events-list .event-wrap .event .event-text {
  padding: 14px 14px 42px;
}
MAIN .section#events .events-list .event-wrap .event .event-text P {
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  font-weight: 400;
  margin-bottom: 0;
}
MAIN .section#events .events-list .event-wrap .event A.arrow-right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 14px;
  font-size: 14px;
  line-height: 16px;
  color: #898989;
  bottom: 12px;
  font-style: italic;
  font-weight: 400;
}
MAIN .section#events .events-list .event-wrap .event A.arrow-right:hover {
  color: #3a9e19;
}
MAIN .section#events .events-list .event-wrap .event A.arrow-right::after {
  content: "";
  display: block;
  width: 16px;
  height: 19px;
  background-image: url("../images/icons/fb_arrow.svg");
  margin-left: 8px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
MAIN .section#events .text-center {
  margin-top: 22px;
}
MAIN .section#events .text-center P {
  margin-bottom: 0;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}
FOOTER {
  background-image: url(../images/footer.jpg);
  background-size: 100% 110%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 62px 0;
}
FOOTER .main-footer {
  background: #f3f3f3;
  padding: 72px 48px;
  position: relative;
}
FOOTER .main-footer .icons-wrap {
  margin-bottom: 24px;
}
FOOTER .main-footer .text-wrap P {
  margin-bottom: 0;
}
FOOTER .main-footer .text-wrap P > A {
  display: block;
  color: #3a3a3a;
  font-weight: 400;
}
FOOTER .main-footer .text-wrap P > A:hover {
  color: #3a9e19;
}
FOOTER .main-footer .footer-additional {
  position: absolute;
  bottom: 32px;
  max-width: 320px;
  background-color: #4aca20;
  padding: 28px 22px;
}
FOOTER .main-footer .footer-additional .footer-additional-wrap {
  color: #fff;
}
FOOTER .main-footer .footer-additional .footer-additional-wrap > IMG {
  width: 220px;
  height: auto;
  margin-bottom: 14px;
}
FOOTER .main-footer .footer-additional .footer-additional-wrap > P {
  margin-bottom: 0;
}
FOOTER .main-footer .footer-additional .footer-additional-wrap A.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  margin-top: 32px;
}
FOOTER .main-footer .footer-additional .footer-additional-wrap A.btn::after {
  content: "";
  display: block;
  width: 11px;
  height: 18px;
  background-image: url("../images/icons/right.svg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 7px;
}
FOOTER .form-wrap {
  margin-top: 82px;
}
FOOTER .form-wrap .section-title {
  color: #f3f3f3;
  text-align: center;
}
FOOTER .form-wrap FORM {
  max-width: 750px;
  margin: 0 auto;
}
FOOTER .form-wrap FORM .form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
FOOTER .form-wrap FORM .form-group * {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #f3f3f3;
  border: 1px solid #979797;
  font-size: 14px;
  line-height: 16px;
}
FOOTER .form-wrap FORM .form-group *::-webkit-input-placeholder {
  color: #f3f3f3;
}
FOOTER .form-wrap FORM .form-group *:-moz-placeholder {
  color: #f3f3f3;
}
FOOTER .form-wrap FORM .form-group *::-moz-placeholder {
  color: #f3f3f3;
}
FOOTER .form-wrap FORM .form-group *:focus {
  outline: none;
  border-color: #f3f3f3;
}
FOOTER .form-wrap FORM .form-group INPUT {
  width: 48%;
}
FOOTER .form-wrap FORM .form-group TEXTAREA {
  max-width: 100%;
  min-width: 100%;
  min-height: 95px;
  margin: 22px 0;
}
FOOTER .form-wrap FORM .form-group BUTTON {
  min-width: 205px;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.195772);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.195772);
  color: #101010;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 5px;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
FOOTER .form-wrap FORM .form-group BUTTON:hover {
  color: #FFFFFF;
  background-color: #4aca20;
}
@media (max-width: 1240px) {
  .container {
    max-width: 991px;
    padding: 0 12px;
  }
  .container._full {
    max-width: 100%;
    padding: 0 12px;
  }
  MAIN .section#events .events-list .event-wrap .event .image-wrap {
    height: 200px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 792px;
    padding: 0 12px;
  }
  HEADER A.logo-link::before {
    display: none;
  }
  HEADER .banner .info-wrap {
    margin-right: 28px;
  }
  HEADER .banner .info-wrap .title {
    margin-bottom: 1.3em;
  }
  HEADER #nav .nav-items {
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  HEADER #nav .nav-items A {
    padding: 0.5em 0;
  }
  MAIN .section#events .events-list {
    margin: 0 -12px;
  }
  MAIN .section#events .events-list .event-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
    padding: 0 12px !important;
  }
  MAIN .sectiondocs .docs-info {
    padding-right: 14px;
  }
  MAIN .sectiondocs .docs-info H2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  MAIN .sectiondocs .docs-info P {
    font-size: 14px;
    line-height: 18px;
  }
  MAIN .section#products .tab-items .tab-item > A .tab-decscription {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.2em;
  }
  MAIN .section#products .tab-contents .tab-content .org-items .org-item SPAN {
    font-size: 14px;
    line-height: 18px;
  }
  MAIN .section#about-us .member-list .member {
    -webkit-box-flex: 1;
    -ms-flex: 1 0  50%;
    flex: 1 0  50%;
    max-width: 50%;
    padding: 22px 14px;
    background-color: #eaeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  MAIN .section#about-us .member-list .member .photo {
    min-width: 125px;
    height: 220px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 14px;
  }
  MAIN .section#about-us .member-list .member .photo IMG {
    width: auto;
    max-width: unset;
    height: 100%;
    display: block;
  }
  MAIN .section#about-us .member-list .member .info * {
    margin: 0;
  }
  MAIN .section#about-us .member-list .member .info > DIV {
    margin-bottom: 4px;
  }
  MAIN .section#about-us .member-list .member .info A {
    color: #3a3a3a;
    font-weight: 400;
  }
  MAIN .section#about-us .member-list .member .info A:hover {
    color: #3a9e19;
  }
  FOOTER .main-footer {
    padding: 0 0 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  FOOTER .main-footer .icons-wrap,
  FOOTER .main-footer .text-wrap {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 22px;
  }
  FOOTER .main-footer .icons-wrap .w20,
  FOOTER .main-footer .text-wrap .w20 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
    max-width: 30%;
  }
  FOOTER .main-footer .footer-additional {
    position: relative;
    max-width: 100%;
    bottom: unset;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-bottom: 32px;
  }
}
@media (min-width: 867px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 868px) {
  .container {
    max-width: 100%;
    padding: 0 12px;
  }
  .container._full {
    padding: 0;
  }
  BODY {
    overflow-x: hidden;
  }
  HEADER {
    position: static;
  }
  HEADER .hamburger {
    display: block;
    width: 52px;
    height: 52px;
    position: relative;
    cursor: pointer;
  }
  HEADER .hamburger .lines {
    position: absolute;
    height: 2px;
    width: 32px;
    left: 10px;
    top: calc(50% - 1px);
    background-color: #f3f3f3;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  HEADER .hamburger .lines.top {
    top: calc(30% - 1px);
  }
  HEADER .hamburger .lines.bottom {
    top: calc(70% - 1px);
  }
  HEADER .hamburger._active .lines.middle {
    opacity: 0;
  }
  HEADER .hamburger._active .lines.top {
    top: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  HEADER .hamburger._active .lines.bottom {
    top: calc(50% - 1px);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  HEADER .banner {
    padding: 60px 0;
  }
  HEADER .banner .inner._center {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  HEADER .banner .info-wrap {
    margin-right: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  HEADER .banner .banner-logos {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin: 0 auto 24px auto;
    padding: 24px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  HEADER .banner .banner-logos IMG {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 48%;
    flex: 1 0 48%;
    max-width: 48%;
    margin-bottom: 0 !important;
  }
  HEADER #nav {
    position: fixed;
    top: 52px;
    left: unset;
    right: -320px;
    width: 320px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: 100%;
    z-index: 9999;
    -webkit-transition: right 0.3s ease-in;
    -o-transition: right 0.3s ease-in;
    transition: right 0.3s ease-in;
  }
  HEADER #nav._show {
    right: 0;
  }
  HEADER #nav .container {
    padding: 0;
    height: 100%;
  }
  HEADER #nav .nav-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: 100%;
  }
  HEADER #nav .nav-items .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  MAIN {
    padding-bottom: 24px;
  }
  MAIN .section#events .events-list {
    margin: 0 !important;
  }
  MAIN .section#events .events-list .event-wrap {
    margin-bottom: 24px;
    padding: 0 12px !important;
  }
}
@media (max-width: 768px) {
  H1,
  .h1 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 1.8em;
  }
  H2,
  .h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 1.6em;
  }
  H3,
  .h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 1.4em;
  }
  H4,
  .h4 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 1.2em;
  }
  H5,
  .h5 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1em;
  }
  .inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .w10,
  .w20,
  .w30,
  .w40,
  .w50,
  .w60,
  .w70,
  .w80,
  .w90,
  .w100 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  HEADER .banner .banner-logos {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 280px;
    flex: 1 0 280px;
    max-width: 280px;
  }
  HEADER .inner {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  HEADER .inner .w20 {
    display: none;
  }
  HEADER .contact-items {
    margin-right: 24px;
  }
  HEADER .contact-items .contact-item {
    margin-right: 12px;
  }
  HEADER .contact-items > IMG {
    display: none;
  }
  MAIN .section#products .tab-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  MAIN .section#products .tab-items .tab-item > A {
    height: 100%;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  MAIN .section#products .tab-items .tab-item > A._is-active {
    border-right: 2px solid #4aca20;
    border-bottom: 0;
  }
  MAIN .section#products .tab-items .tab-item > A .tab-title,
  MAIN .section#products .tab-items .tab-item > A .tab-decscription {
    display: none !important;
  }
  MAIN .section#products .tab-items .tab-item > A .tab-icon {
    position: relative;
    top: unset;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  MAIN .section#products .tab-contents .tab-content {
    min-height: unset;
    padding: 1em;
  }
  MAIN .section#products .tab-contents .tab-content P {
    font-size: 14px;
    line-height: 18px;
  }
  MAIN .section#products .tab-contents .tab-content .org-items .org-item IMG {
    margin-right: 8px;
    max-width: 54px;
  }
  MAIN .section#products .tab-contents .tab-content .org-items .org-item SPAN {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  FOOTER .main-footer .text-wrap,
  FOOTER .main-footer .icons-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  FOOTER .main-footer .text-wrap .w20,
  FOOTER .main-footer .icons-wrap .w20 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  FOOTER .main-footer .icons-wrap {
    width: 76px;
    padding-right: 0;
  }
  FOOTER .main-footer .icons-wrap .footer-card {
    margin-bottom: 12px;
  }
  FOOTER .main-footer .icons-wrap .footer-card IMG {
    margin: 0 auto;
  }
  FOOTER .main-footer .text-wrap {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 70%;
    padding-left: 12px;
  }
  MAIN .section#about-us .member-list .member {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
    padding: 14px 10px;
    background-color: #eaeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  MAIN .section#about-us .member-list .member .photo {
    max-width: 100px;
    height: 100px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 7px;
  }
  MAIN .section#about-us .member-list .member .photo IMG {
    width: 100%;
    max-width: unset;
    height: auto;
    display: block;
  }
  MAIN .section#about-us .member-list .member .info * {
    margin: 0;
  }
  MAIN .section#about-us .member-list .member .info > DIV {
    margin-bottom: 4px;
    font-size: 13px;
  }
  MAIN .section#about-us .member-list .member .info A {
    color: #3a3a3a;
    font-weight: 400;
  }
  MAIN .section#about-us .member-list .member .info A:hover {
    color: #3a9e19;
  }
}
@media (max-width: 545px) {
  HEADER .contact-items {
    display: none;
  }
  HEADER .banner .banner-logos {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  HEADER .banner .info-wrap UL {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 2em 0;
  }
  HEADER .banner .info-wrap UL LI {
    padding: 0 !important;
    margin: 0 0 14px 0 !important;
    border-right: 0;
    width: 100%;
    text-align: center;
  }
  HEADER .banner .info-wrap UL LI:last-child {
    margin-bottom: 0;
  }
  MAIN .section#events .events-list .event-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  MAIN .section#docs .docs-cards .docs-card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  MAIN .section#docs .docs-cards .docs-card > A {
    padding: 22px;
    border: 1px solid #f3f3f3;
  }
  MAIN .section#organization .member {
    padding: 14px 22px;
    margin-bottom: 12px;
  }
  MAIN .section#organization .member._big {
    padding: 14px 22px;
  }
  MAIN .section#products .tab-items .tab-item > A {
    padding: 10px;
  }
  MAIN .section#products .tab-contents .tab-content .org-items {
    margin: 24px 0 0;
  }
  MAIN .section#products .tab-contents .tab-content .org-items .org-item {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 0 100% !important;
    flex: 1 0 100% !important;
    max-width: 100% !important;
    padding: 0.5em;
    border-left: none !important;
    border-top: 2px solid #fff;
  }
  MAIN .section#products .tab-contents .tab-content .org-items .org-item:first-child {
    border-top: none;
  }
  FOOTER .form-wrap FORM .form-group INPUT {
    width: 100%;
  }
  FOOTER .form-wrap FORM .form-group INPUT:first-child {
    margin-bottom: 22px;
  }
}
@media (max-width: 420px) {
  MAIN .section#about-us .member-list .member {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  MAIN .section#about-us .member-list .member .photo {
    margin-bottom: 12px;
  }
  MAIN .section#about-us .member-list .member .info {
    text-align: center;
  }
}
/*Companie*/
.mfp-iframe-holder {
  padding-top: 0;
  padding-bottom: 0;
  padding: 0 12px;
}
.mfp-iframe-holder .mfp-content {
  max-width: 1100px;
}
.mfp-iframe-holder .mfp-content .mfp-iframe-scaler {
  height: 85%;
  padding: 0;
}
.mfp-iframe-holder .mfp-content .mfp-iframe-scaler .mfp-close-wrap {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #fff;
  padding-right: 8px;
}
.mfp-iframe-holder .mfp-content .mfp-iframe-scaler .mfp-close-wrap .mfp-close {
  position: relative;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
  padding: 0;
}
.mfp-iframe-holder .mfp-content .mfp-iframe-scaler IFRAME {
  top: 44px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.companie {
  overflow-x: hidden;
}
.companie .container {
  position: relative;
  max-width: 100%;
  padding: 0 42px;
}
.companie HEADER {
  position: relative;
  padding: 42px 0 66px;
  overflow: hidden;
}
.companie HEADER .backgorund-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.companie HEADER .backgorund-image IMG {
  width: 100%;
  height: 100%;
}
.companie HEADER .inner._center.h_between {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.companie HEADER .inner._center.h_between .complany-logo,
.companie HEADER .inner._center.h_between .company-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  max-width: 100%;
}
.companie HEADER .inner._center.h_between .complany-logo {
  margin-bottom: 16px;
}
.companie HEADER .inner._center.h_between .complany-logo IMG {
  max-height: 200px;
  margin: 0 auto;
}
.companie HEADER .inner._center.h_between .company-info H1 {
  margin-bottom: 24px;
  text-transform: uppercase;
  text-align: center;
}
.companie HEADER .inner._center.h_between .company-info .company-site {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  left: 42px;
  bottom: -42px;
  color: #f3f3f3;
}
.companie HEADER .inner._center.h_between .company-info .company-site::before {
  content: "";
  display: block;
  background-image: url("../images/icons/worldwide.svg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.companie HEADER .inner._center.h_between .company-info .company-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.companie HEADER .inner._center.h_between .company-info .company-contacts LI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 16px;
  font-size: 18px;
  line-height: 22px;
}
.companie HEADER .inner._center.h_between .company-info .company-contacts LI IMG {
  max-height: 24px;
  margin-right: 8px;
}
.companie HEADER .yr-link,
.companie HEADER .place {
  position: absolute;
  z-index: 2;
  font-size: 18px;
  line-height: 24px;
  right: 42px;
  bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f3f3f3;
}
.companie HEADER .yr-link::before,
.companie HEADER .place::before {
  content: "";
  display: block;
  background-image: url("../images/icons/youtube.svg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.companie MAIN {
  padding: 0;
}
.companie MAIN .section-title {
  margin-bottom: 24px;
}
.companie MAIN .video-wrap {
  padding-right: 24px;
}
.companie MAIN .video-wrap .video IFRAME {
  width: 100%;
  border: 0;
}
.companie MAIN .info-wrap UL {
  list-style: disc;
}
.companie MAIN .info-wrap UL LI {
  line-height: 1.2em;
  margin-bottom: 12px;
}
.companie MAIN .info-wrap UL LI:last-child {
  margin-bottom: 0;
}
.companie MAIN .product-card {
  padding: 0 12px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  max-width: 20%;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.companie MAIN .product-card .product-image {
  background-color: #fff;
  height: 244px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.companie MAIN .product-card .product-image IMG {
  max-height: 100%;
}
.companie MAIN .product-card .product-name {
  padding: 16px 12px 12px;
  background-color: #eaeaea;
}
.companie MAIN .product-card .product-name H4 {
  margin-bottom: 0;
}
.companie MAIN .product-card .prod-desc {
  padding: 0 12px 44px;
  background-color: #eaeaea;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}
.companie MAIN .product-card .prod-desc P {
  margin-bottom: 0;
}
.companie MAIN .product-card .prod-desc A {
  position: absolute;
  bottom: 12px;
  color: #3a3a3a;
  font-weight: 400;
  text-decoration: underline;
}
.companie MAIN .section:nth-child(2) .inner._normal {
  margin: 0 -12px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.companie MAIN .member-list .inner._center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.companie MAIN .member-list .inner._center .member {
  text-align: center;
  background-color: #eaeaea;
  padding: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.companie MAIN .member-list .inner._center .member .member-photo {
  max-width: 225px;
  margin-bottom: 24px;
}
.companie MAIN .member-list .inner._center .member .member-name {
  font-weight: 600;
  color: #101010;
  text-align: center;
  font-size: 24px;
  line-height: 19px;
  margin-bottom: 12px;
}
.companie MAIN .member-list .inner._center .member .member-contacts {
  width: 100%;
}
.companie MAIN .member-list .inner._center .member .member-contacts UL {
  padding: 0;
  margin: 0;
}
.companie MAIN .member-list .inner._center .member .member-contacts UL LI {
  margin-bottom: 0.5em;
}
.companie MAIN .member-list .inner._center .member .member-contacts UL LI#job {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  max-width: 100%;
  margin-bottom: 8px;
}
.companie MAIN .member-list .inner._center .member .member-contacts UL LI#job A {
  pointer-events: none;
  font-size: 16px;
  font-weight: 600;
}
.companie MAIN .member-list .inner._center .member .member-contacts UL LI:last-child {
  margin-bottom: 0;
}
.companie MAIN .member-list .inner._center .member .member-contacts UL LI A {
  color: #3a3a3a;
  font-weight: 400;
}
.companie MAIN .member-list .inner._center .member .member-contacts UL LI A:hover {
  color: #3a9e19;
}
.companie MAIN .member-list .inner._center .member._big {
  padding: 34px 32px;
}
.companie MAIN .member-list .inner._center .member._big .member-photo {
  max-width: 251px;
}
.companie MAIN .stand-wrap .member-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #eaeaea;
  margin: 0 42px;
  -webkit-transform: translateY(-62px);
  -ms-transform: translateY(-62px);
  transform: translateY(-62px);
}
.companie MAIN .stand-wrap .member-list .member {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 50%;
  padding: 22px 32px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.companie MAIN .stand-wrap .member-list .member .photo {
  min-width: 110px;
  min-height: 110px;
  max-width: 110px;
  max-height: 110px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 22px;
}
.companie MAIN .stand-wrap .member-list .member .photo IMG {
  height: 100%;
  width: auto;
}
.companie MAIN .stand-wrap .member-list .member .info * {
  margin: 0;
}
.companie MAIN .stand-wrap .member-list .member .info > DIV {
  margin-bottom: 4px;
}
.companie MAIN .stand-wrap .member-list .member .info A {
  color: #3a3a3a;
  font-weight: 400;
}
.companie MAIN .stand-wrap .member-list .member .info A:hover {
  color: #3a9e19;
}
.companie FOOTER {
  background-image: none;
  padding: 42px;
  background-color: #3a9e19;
  text-align: center;
}
.companie FOOTER P {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.companie FOOTER A.btn {
  display: inline-block;
  padding: 14px 24px;
  width: 240px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
}
.companie FOOTER A.btn:hover {
  -webkit-box-shadow: inset 0 50px 0 0 #fff;
  box-shadow: inset 0 50px 0 0 #fff;
  color: #3a9e19;
}
@media (max-width: 1024px) {
  .companie MAIN .product-card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33.3333333%;
    flex: 1 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .companie MAIN .member-list .inner._center .member .member-name {
    font-size: 18px;
    line-height: 20px;
  }
  .companie HEADER .inner._center.h_between .company-info .company-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .companie HEADER .inner._center.h_between .company-info .company-contacts LI {
    margin: 0 0 16px 0;
  }
  MAIN .section#products .tab-contents .tab-content .org-items .org-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
  }
  MAIN .section#products .tab-contents .tab-content .org-items .org-item:nth-child(odd) {
    border-left: none;
  }
  MAIN .section#products .tab-contents .tab-content .org-items .org-item:nth-child(4n) {
    border-left: 2px solid #fff;
  }
  .companie MAIN .product-card .prod-desc P {
    display: none;
  }
}
@media (max-width: 991px) {
  .companie .inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .companie MAIN .video-wrap {
    padding-right: 0;
    margin-bottom: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  .info-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .companie .container {
    padding: 0 14px;
  }
  .companie HEADER .inner._center.h_between .complany-logo IMG {
    max-height: 100px;
  }
  .companie MAIN .member-list .inner._center .member {
    max-width: 100%;
    margin-bottom: 12px;
  }
  .companie MAIN .stand-wrap .member-list .member {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: 12px;
  }
  .companie MAIN .product-card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
  }
  .companie MAIN .stand-wrap .member-list {
    margin: 0 18px;
    background-color: transparent;
  }
}
@media (max-width: 575px) {
  .companie HEADER .inner._center.h_between .company-info H1 {
    margin-bottom: 16px;
  }
  .companie HEADER .inner._center.h_between .company-info .company-site {
    position: static;
    bottom: unset;
    left: unset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 16px;
  }
  .companie MAIN .product-card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  .companie main .product-card .product-image {
    height: auto;
  }
  .companie main .product-card .product-image IMG {
    max-height: unset;
    width: 100%;
  }
  .companie MAIN .stand-wrap .member-list .member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 11px 16px;
  }
  .companie MAIN .stand-wrap .member-list .member .photo {
    margin-bottom: 12px;
    margin-right: 0;
  }
  .companie MAIN .stand-wrap .member-list .member .info * {
    text-align: center;
  }
  .companie HEADER .inner._center.h_between .company-info .company-contacts LI {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 400px) {
  padding: 20px;
}
